@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(http://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVc.ttf) format('truetype');
}
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
}
body {
  padding-top: 70px;
  padding-bottom: 70px;
}
#nav-top {
  background-image: linear-gradient(#ddd, #ccc 60%);
}
#nav-bottom {
  background-image: linear-gradient(#ddd, #ccc 60%);
}
.navbar-title {
  color: #777777;
  transition: color ease-in-out 0.2s;
  display: block;
  text-align: center;
  float: none;
  vertical-align: middle;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
/*
.navbar.navbar-default .navbar-header{
  float: none;
}*/
#flash {
  margin: auto;
  width: 50%;
}
#svg-container-fluid {
  position: absolute;
  /*
    top: 70px;
    bottom: 70px;*/
  left: 0px;
  right: 0px;
}
svg {
  margin: 0;
  width: 100%;
  height: 100%;
  display: block;
  /*
    position: absolute;
    top: 0;
    left: 0;
*/
  /*    z-index: -1;*/
}
/*
#svg-container {
    margin: 0;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    overflow: scroll;
}*/
#svg {
  pointer-events: visible;
  background-color: #eee;
}
#svg text {
  font-variant-ligatures: none;
  font-feature-settings: none;
  text-rendering: optimizeSpeed;
  font-family: "Open Sans", sans-serif;
}
a:hover {
  color: #cc8548;
}
a .input-group-addon {
  color: #337ab7;
}
a .input-group-addon:active {
  background-color: #ccc;
}
#paging {
  pointer-events: none;
}
#paging a {
  pointer-events: visible;
}
.navbar-collapse.in {
  overflow-y: visible;
}
#brand,
form .clear,
.navbar-nav a {
  cursor: pointer;
}
/* NETWORK */
#networkLayer .link {
  opacity: 0.5;
  /*    &.highlighted {
            opacity: 0.5;
            path {
                opacity: 0.5;
                stroke: #700;
                stroke-width: 2;
            }
            text {
                font-size: 10px;
            }
        }*/
}
#networkLayer .link path.inner {
  fill: none;
  /*     marker-end: url(#arrowhead);
                stroke-dasharray: 0.5, 4;
                stroke-linecap: round;
                stroke-linejoin: round;*/
  stroke-width: 1;
  stroke: #000;
}
#networkLayer .link path.distance-0 {
  opacity: 0.6;
  stroke-width: 4;
  /*    stroke: #700;*/
}
#networkLayer .link path.distance-1 {
  stroke-width: 3;
  /*    stroke: #300;*/
}
#networkLayer .link path.distance-2 {
  stroke-width: 2;
}
#networkLayer .link path.distance-3 {
  stroke-width: 2;
}
#networkLayer .link text {
  cursor: help;
  dominant-baseline: middle;
  text-anchor: middle;
  font: 8px 'Open Sans', sans-serif;
}
#networkLayer .link text.inner {
  fill: #000;
  stroke: none;
}
#networkLayer .link text.outer {
  stroke: #fff;
  stroke-width: 3px;
  fill: none;
}
#networkLayer .link.alias path.inner {
  /*    marker-end: none;*/
  stroke-dasharray: 2, 4;
}
#networkLayer .link.member-of path.inner,
#networkLayer .link.sublabel-of path.inner {
  opacity: 0.5;
  /*     marker-end: url(#aggregate);*/
  stroke: #00BD20;
  /*     stroke-dasharray: 0, 0;*/
}
#networkLayer .link.released-on path.inner {
  opacity: 0.5;
  /*     marker-end: url(#aggregate);*/
  stroke: #00BD20;
  stroke-dasharray: 2, 4;
}
#networkLayer .link.selected {
  opacity: 1;
}
#networkLayer .link.selected path {
  opacity: 0.6;
  stroke: #700;
  stroke-width: 4;
}
#networkLayer .link.selected text {
  font-size: 10px;
}
#networkLayer .link.noninteractive text {
  pointer-events: none;
  cursor: wait;
}
#networkLayer .hull {
  fill: #343d46;
  opacity: 0.1;
  stroke: #000;
  stroke-width: 32;
  stroke-linecap: round;
  stroke-linejoin: round;
  /*        path {
            fill: #343d46;
            opacity: 0.1;
            stroke: #000;
            stroke-width: 32;
            stroke-linecap: round;
            stroke-linejoin: round;
        }*/
}
#networkLayer .node {
  cursor: move;
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke: #fff;
  stroke-width: 1.5px;
}
#networkLayer .node circle.shadow {
  fill: url(#radial-gradient);
  stroke: none;
}
#networkLayer .node text.inner {
  pointer-events: none;
  font: 10px 'Open Sans', sans-serif;
  fill: #000;
  stroke: none;
  dominant-baseline: middle;
  text-anchor: middle;
}
#networkLayer .node text.outer {
  pointer-events: none;
  font: 10px 'Open Sans', sans-serif;
  stroke: #fff;
  stroke-width: 3px;
  fill: none;
  dominant-baseline: middle;
  text-anchor: middle;
}
#networkLayer .node text.icon {
  cursor: pointer;
  fill: #fff;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  opacity: 0.5;
  stroke: #000;
}
#networkLayer .node circle.halo {
  pointer-events: none;
  fill: #000;
  opacity: 0;
  stroke: none;
}
#networkLayer .node path.more {
  stroke: #000;
  stroke-width: 1;
  stroke-opacity: 0.3;
  fill-opacity: 1;
  fill: #fff;
  /*            fill: #ffeda0;*/
}
#networkLayer .node.selected {
  stroke: #f00;
}
#networkLayer .node.selected .halo {
  opacity: 0.1;
  fill: #700;
}
#networkLayer .node.selected .more {
  fill: #000;
}
#networkLayer .node.selected.label {
  stroke: #f00;
}
#networkLayer .node.selected.label .more {
  fill: #fff;
}
/* RADIAL */
#relationsLayer g.segment.selected path.arc {
  fill: #00f;
}
#relationsLayer g.segment.selected text.inner {
  fill: #00f;
}
#relationsLayer g.segment:hover path.arc {
  fill: #f00;
}
#relationsLayer g.segment:hover text.inner {
  fill: #f00;
}
#relationsLayer path.arc {
  stroke: #fff;
  stroke-width: 1px;
}
#relationsLayer text {
  text-rendering: optimizeLegibility;
  dominant-baseline: middle;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
}
#relationsLayer text.outer {
  fill: #fff;
  stroke: #fff;
  stroke-width: 3px;
}
#relationsLayer text.inner {
  fill: #000;
  stroke: none;
}
/* LOADING */
#loadingLayer path.arc {
  opacity: 0.75;
  stroke: #fff;
  stroke-width: 1px;
}
#loadingLayer path.arc:hover {
  fill: #f00;
}
/* MIXINS */
.invisible {
  visibility: hidden;
}
.glyphicon-animate {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.box-shadow {
  box-shadow: 0px 0px 10px #ddd;
}
.noninteractive {
  pointer-events: none;
  cursor: none;
}
/* TOOLTIPS */
.d3-node-tooltip {
  transform: scale(0.8);
  line-height: 0.8em;
  font-size: 1em;
  padding: 2px 4px;
  background-color: #ffffcc;
  /*background: rgba(101,115,126, 0.6);*/
  color: #111;
  border-radius: 6px;
  border: 2px solid #800026;
  pointer-events: none !important;
  text-align: center;
  box-shadow: 0 4px 20px 4px rgba(0, 20, 60, 0.1), 0 4px 80px -8px rgba(0, 20, 60, 0.2);
  display: flex;
  flex-direction: column;
  gap: 0em;
}
.d3-node-tooltip span {
  opacity: 1;
  font-size: 1.4em;
  line-height: 1.4em;
}
.d3-link-tooltip {
  transform: scale(0.8);
  line-height: 0.8em;
  font-size: 1em;
  padding: 0px;
  background-color: #ffeda0;
  /*background: rgba(101,115,126, 0.6);*/
  color: #111;
  opacity: 1;
  border-radius: 6px;
  border: 2px solid #800026;
  pointer-events: none !important;
  text-align: center;
  box-shadow: 0 4px 20px 4px rgba(0, 20, 60, 0.1), 0 4px 80px -8px rgba(0, 20, 60, 0.2);
  display: flex;
  flex-direction: column;
  gap: 0em;
}
.d3-link-tooltip div {
  padding: 0px 4px;
  margin: 2px;
  display: inline-block;
  background-color: #ffeda0;
}
.d3-link-tooltip div:first-child {
  font-size: 1.4em;
  line-height: 1.4em;
  margin-bottom: 0;
}
.d3-link-tooltip div:nth-child(2) {
  font-size: 0.8em;
  line-height: 1em;
  border-width: 0px;
  margin: 0;
}
.d3-link-tooltip div:last-child {
  font-size: 1.4em;
  line-height: 1.4em;
  margin-top: 0;
}
.YlOrRd .q0-9 {
  fill: #ffffcc;
}
.YlOrRd .q1-9 {
  fill: #ffeda0;
}
.YlOrRd .q2-9 {
  fill: #fed976;
}
.YlOrRd .q3-9 {
  fill: #feb24c;
}
.YlOrRd .q4-9 {
  fill: #fd8d3c;
}
.YlOrRd .q5-9 {
  fill: #fc4e2a;
}
.YlOrRd .q6-9 {
  fill: #e31a1c;
}
.YlOrRd .q7-9 {
  fill: #bd0026;
}
.YlOrRd .q8-9 {
  fill: #800026;
}
.YlGnBu .q0-9 {
  fill: #ffffd9;
}
.YlGnBu .q1-9 {
  fill: #edf8b1;
}
.YlGnBu .q2-9 {
  fill: #c7e9b4;
}
.YlGnBu .q3-9 {
  fill: #7fcdbb;
}
.YlGnBu .q4-9 {
  fill: #41b6c4;
}
.YlGnBu .q5-9 {
  fill: #1d91c0;
}
.YlGnBu .q6-9 {
  fill: #225ea8;
}
.YlGnBu .q7-9 {
  fill: #253494;
}
.YlGnBu .q8-9 {
  fill: #081d58;
}
.RdGnBl .q8-9 {
  fill: #ff0000;
}
.RdGnBl .q7-9 {
  fill: #ff004c;
}
.RdGnBl .q6-9 {
  fill: #f25f2d;
}
.RdGnBl .q5-9 {
  fill: #dc8926;
}
.RdGnBl .q4-9 {
  fill: #c5a841;
}
.RdGnBl .q3-9 {
  fill: #b1c16c;
}
.RdGnBl .q2-9 {
  fill: #a8d39c;
}
.RdGnBl .q1-9 {
  fill: #b0e1c7;
}
.RdGnBl .q0-9 {
  fill: #ccece6;
}
.RdGnLb .q8-9 {
  fill: #ff0000;
}
.RdGnLb .q7-9 {
  fill: #df6e00;
}
.RdGnLb .q6-9 {
  fill: #b99800;
}
.RdGnLb .q5-9 {
  fill: #93b628;
}
.RdGnLb .q4-9 {
  fill: #70cc72;
}
.RdGnLb .q3-9 {
  fill: #5cdcb1;
}
.RdGnLb .q2-9 {
  fill: #73e8e2;
}
.RdGnLb .q1-9 {
  fill: #a8f0ff;
}
.RdGnLb .q0-9 {
  fill: #b0e1c7;
}
.Palette1 .q0-9 {
  fill: #ff0000;
}
.Palette1 .q1-9 {
  fill: #f55700;
}
.Palette1 .q2-9 {
  fill: #e87d00;
}
.Palette1 .q3-9 {
  fill: #da9a00;
}
.Palette1 .q4-9 {
  fill: #ccb211;
}
.Palette1 .q5-9 {
  fill: #bfc744;
}
.Palette1 .q6-9 {
  fill: #b5da6d;
}
.Palette1 .q7-9 {
  fill: #afeb96;
}
.Palette1 .q8-9 {
  fill: #afeb96;
}
.Palette2 .q0-9 {
  fill: #d53e4f;
}
.Palette2 .q1-9 {
  fill: #f46d43;
}
.Palette2 .q2-9 {
  fill: #fdae61;
}
.Palette2 .q3-9 {
  fill: #fee08b;
}
.Palette2 .q4-9 {
  fill: #ffffbf;
}
.Palette2 .q5-9 {
  fill: #e6f598;
}
.Palette2 .q6-9 {
  fill: #abdda4;
}
.Palette2 .q7-9 {
  fill: #66c2a5;
}
.Palette2 .q8-9 {
  fill: #3288bd;
}
.Palette3 .q8-9 {
  fill: #ffffcc;
}
.Palette3 .q7-9 {
  fill: #ffeda0;
}
.Palette3 .q6-9 {
  fill: #fed976;
}
.Palette3 .q5-9 {
  fill: #feb24c;
}
.Palette3 .q4-9 {
  fill: #fd8d3c;
}
.Palette3 .q3-9 {
  fill: #fc4e2a;
}
.Palette3 .q2-9 {
  fill: #e31a1c;
}
.Palette3 .q1-9 {
  fill: #bd0026;
}
.Palette3 .q0-9 {
  fill: #800026;
}
.Palette4 .q0-9 {
  fill: #23682e;
}
.Palette4 .q1-9 {
  fill: #347a3d;
}
.Palette4 .q2-9 {
  fill: #448b4c;
}
.Palette4 .q3-9 {
  fill: #549e5b;
}
.Palette4 .q4-9 {
  fill: #64b16b;
}
.Palette4 .q5-9 {
  fill: #74c47c;
}
.Palette4 .q6-9 {
  fill: #85d78d;
}
.Palette4 .q7-9 {
  fill: #96eb9e;
}
.Palette4 .q8-9 {
  fill: #a7ffaf;
}
