{% if not is_a_return_visitor %}
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p><strong>Hey friends!</strong> Thanks for all of the attention!</p>
    <p>Something not working? Send a <a href="https://github.com/aradburn/discograph/issues" target="_blank">bug report</a>.
    Artist information seems incorrect? Fix it on <a href="http://discogs.com" target="_blank">Discogs.com</a>.</p>
</div> 
{% endif %}