<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ title }}</title>

    {%- if not is_production %}
    <script type="module" src="{{ asset('@vite/client') }}"></script>
    {%- endif %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap">

    <!-- https://github.com/ifandelse/machina.js and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/underscore@1.13.6/underscore-umd-min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/machina@4.0.2/lib/machina.min.js"></script>

    <!-- jstree -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.8/themes/default/style.min.css"/>
    <!--    <script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.8/jstree.min.js"></script>-->

    <!-- Discograph -->
    <meta property="og:description" content=" Discograph provides an
            interactive visualization of the relationships between nearly 11 million
            artists, bands and labels using information derived from the Discogs.com
            database."/>
    <meta property="og:title" content="{{ og_title }}"/>
    <meta property="og:site_name" content="Discograph"/>
    <meta property="og:url" content="{{ application_url }}{{ og_url }}"/>
    <meta property="og:image" content="{{ application_url }}/img/og_image.png"/>

    <!-- favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/public/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/img/favicon-16x16.png">
    <link rel="manifest" href="/public/site.webmanifest">
</head>

<body id="{{ key }}">

{% include "body.html" %}

{% if initial_json %}
<script>{{ initial_json|safe }}</script>
{% endif %}

<script type="module" src="{{ asset('index.ts') }}"></script>

</body>
</html>