<div id="modal-help" class="modal fade" tabindex="-1" role="dialog" style="opacity: 0;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Discograph v2</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <p><strong>Discograph v2</strong> is an interactive
                    visualization of the relationships between musicians, bands
                    and labels.</p>

                <p>All of <strong>Discograph v2</strong>'s data is derived
                    from the <a href="http://discogs.com">Discogs.com</a>
                    discography database: nearly 9 million artists, 2 million
                    labels, and 17 million releases creating a network of nearly
                    100 million different relationships.</p>

                <p>What do all of these symbols mean?</p>

                <ul>
                    <li>Small circles represent artists.</li>
                    <li>Large circles represent bands.</li>
                    <li>Squares represent labels and other companies.</li>
                    <li>Solid lines show band membership.</li>
                    <li>Dashed lines show pseudonyms.</li>
                    <li>Dotted lines show other kinds of relations.</li>
                </ul>

                <p>The graph only shows approximately 100 entities at a time.
                    Double-clicking on any circle containing a plus-sign will follow the graph further to show more
                    connections.</p>
                <p/>
                <p><strong>Discograph v2</strong> would also be impossible without the generous public data dump that <a
                    href="http://discogs.com" target="_blank">Discogs.com</a> provides monthly.</p>

                <p>If something is not working, please file a bug report on <a
                    href="https://github.com/aradburn/discograph/issues" target="_blank">Github</a>.</p>

                <p>If any artist or label information is missing or incorrect, it can be updated on <a
                    href="http://discogs.com" target="_blank">Discogs.com</a>.
                    It may take time, even months, for the updates to be processed in Discogs, then updated here in
                    Discograph</p>

                <p>If you are interested in developing <strong>Discograph v2</strong>, you can access the code
                    repository on Github at <a href="https://github.com/aradburn/discograph"
                                               target="_blank">GitHub.</a></p>
            </div>
        </div>
    </div>
</div>