<div id="side-menu-content"
     class="d-flex h-100
            flex-sm-column flex-xl-column
            justify-content-evenly justify-content-sm-start justify-content-xl-start
            align-items-start align-items-sm-start align-items-xl-start"
     style="opacity: 0;">
    <div id="entity-relations"
         class="navbar-text px-sm-0 px-2" role="button">
        <i class="fs-5 bi-eye"></i><span class="ms-1 d-none d-sm-inline">DETAILS</span>
    </div>

    <div id="roles"
         class="navbar-text px-sm-0 px-2" role="button"
         data-bs-toggle="offcanvas" data-bs-target="#offcanvasRoles" aria-controls="offcanvasRoles">
        <i class="fs-5 bi-person"></i><span class="ms-1 d-none d-sm-inline">ROLES</span>
    </div>

    <div id="print"
         class="navbar-text px-sm-0 px-2 mb-sm-auto" role="button">
        <i class="fs-5 bi-printer"></i><span class="ms-1 d-none d-sm-inline">PRINT</span>
    </div>

    <label class="form-label" for="nodeRange">Node Strength</label>
    <input type="range" class="form-range" id="nodeRange" value="30"/>

    <label class="form-label" for="linkRange">Link Strength</label>
    <input type="range" class="form-range" id="linkRange" value="30"/>

    <label class="form-label" for="gravRange">Gravity Strength</label>
    <input type="range" class="form-range" id="gravRange" value="30"/>

    <div id="start-layout"
         class="navbar-text px-sm-0 px-2 justify-content-end" role="button">
        <i class="fs-5 bi-lightning"></i><span class="ms-1 d-none d-sm-inline">LAYOUT</span>
    </div>

    <div id="stop-layout"
         class="navbar-text px-sm-0 px-2 justify-content-end" role="button">
        <i class="fs-5 bi-sign-stop"></i><span class="ms-1 d-none d-sm-inline">LAYOUT</span>
    </div>
</div>
